<style type="text/css">
	      body{
margin:0;
padding:0;
font-family:Arial, freesans, sans-serif;
} 
		 #topbar{
width= 1000px;
margin:0 auto;
height:40px;
margin-left:50px;
}


 .topbar-section{
 float:left;
 border:1px grey solid;
 height:67%;
 margin-right: 8px;
 margin-left:4px;
 }
   .same{
   

 

        color:white;
		font-weight:bold;
			background-color:black;
		font-family: 'Catamaran', sans-serif;
			width:20px;
			height:20px;
			margin: 2px;
			margin-top:10px;
			
			float:left;
			padding-right:1px;
			padding-left:1px;
			
			}
	#login-img{
	width:20px;
	height:20px;
	margin-top: 10px ;
	float:left;
	
	}
	#txt{
	   font-weight:bold;
	   position:relative;
	   top:12px;
	   left:10px;
	   float:left;
	   }
	   #bell-img{
	  margin:9px 10px;
	  width:30px;
	  height:25px;
	  position:absolute;
	  top:-12px;
	  left:100px;
	  float:left;
	  
	}
	#new{
	position:relative;
	top:-40px;
	left:100px;
	border:1px grey solid;
	
	}
	 .topbar-menu{
         font-weight:bold;
font-size:90%;
padding: 13px 15px 0px 15px;
height: 27px;
position:relative;
top:-25px;
left:200px;
}
#search-box{
   background-color:grey;
   font-weight:bold;
   padding:2px;
  
   float:left;
   }
     #mag{
	    height:25px;
		margin-top:5px;
		}
		 
	        .red{
			color:white;
			font-size:50px;
			background-color:red;
			height:50px;
			padding:10px;
			margin-top:30px;
            			
			
			}
			.clear{
			   clear:both;
			   }
			 #sec-bar{
                 background-color:#BB1919;
                 width:100%;
				 height:70px;
				 position:absolute;
				 top:48px;
				 width= 1000px;
				 margin:0 auto;
                 }	
          h1{
    		    color:white;
				font-family: 'Catamaran', sans-serif;
				position:relative;
				top:-25px;
				left:40px;
				font-size:40px;
				float:left;
				}
			
			  #local-news{
			     
				
				float:right;
				border:1px #884545 solid;
				padding: 5px 5px 0px 10px;
				margin: 5px 10px 0 0;
				}
				
				#local-news a{
				color:white;
				font-size:20px;
				text-decoration:none;
				background-color:#BB1919;
				position:relative;
				top:-10px;
				
				}
				#local-news a:hover{
				
				 text-decoration:underline;
				 }
				 
			  #local-news img{
			      height:40px;
				  
				  }
				#choose-bar {
				font-size:14px;
                     	background-color:#A91717;
                        width:100%;
						height:40px;
						position:relative;
						
						top:60px;
					}					
			  #choose-bar a{
			      color:white;
				  text-decoration:none;
				  margin-top:5px;
				  padding:0px 10px;
				  border-right: 1px solid;
				  position:relative;
				  top: 10px;
				  
				  
				  
				  }
				 #choose-bar a:hover {
                    border-bottom: 5px white solid;
					set line-height:15px;

}					
    h2 {
	font-weight:normal;
	 font-family: 'Merriweather', serif;
	 border-bottom: 2px red solid;
	 width:110px;
	 margin-left:45px;
	 
	 }
	 #headline{
	 font-weight:bold;
	 margin-left:45px;
	 font-size: 25px;
	 }
	 #headline:hover {
	    color:#00AAD3;
		}
	#content{
	     margin-left:45px;
		 
		 }
		 #clock{
		    width:15px;
			height:15px;}
				 
			.time{
			margin-left:45px;
			position:relative; top:40px;
			}
		#summary{
           text-decoration:none;
            color:#a91717;
			}
			#summary:hover {
			  color:#1167a8;
			  }
	  #main-image {
	      position:relative;
		  top:-200px;
		  right:-340px;
		  
		  
		  width:360px;
		  height:250px;
		  }
	#summary2 
	     {
		 text-decoration:none;
         color:black;
		 margin-left:45px;
		 font-weight:bold;
		 position:relative;
		 top:65px;
		 }
		 #watch-listen{
		     font-weight:bold;
			 font-size:20px;
			 color:black;
			position:relative;
			top:100px;
			right:-210px;
            float:right;
			
       } 
			 
			 
			 #watch2 {
			    font-size:18px;
				position:relative;
				top:-107px;
				margin-left:5px;
				}
			   
			 
			 
			 
		#watch2:hover {
		   color:#117FC7;
		   }
		 #watch-image {
		     width:160px;
			 height:120px;
			 
			 }
			 #justforfloat {
			 margin-top: 50px;
			 margin-left:-110px;
			 float:left;
			 }
			#tags-new{
             font-size: 15px;
              position:relative;
              top:-120px;
			  margin-left:165px;
			  
			
				}
	
	</style>